
<div class="text-center">
    <div class="row">
        <h1>Información de contacto</h1>
        @*Información de contacto: información del negocio: nombre, dirección, teléfono,
        correo electrónico, entre otros*@
        <div class="col-12">
            <div class="bg-white rounded shadow-sm py-5 px-4 mb-10">
                <img src="../../Content/Public/img/company.jpg" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Main Developer</h5>
                <div>
                    <span class="small text-muted">info@maindeveloper.com</span>
                </div>
                <span class="small text-muted">8888 8888</span>
                <div>
                    <span class="small text-muted">San Jose, Costa Rica</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        In nibh tellus, molestie id odio nec, maximus rutrum odio.
                        Integer eu diam quis enim molestie ullamcorper.
                    </p>
                </div>


                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    
    <h2 >Nuesto Equipo</h2>
    <div class="row text-center">
        <!-- Team item-->
        <div class="col-12 col-md-6">
            <div class="bg-white rounded shadow-sm py-5 px-4 mb-10">
                <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Alejandra Ledezma</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                <div>
                    <span class="small text-muted">alejandra@gmail.com</span>
                </div>
                <span class="small text-muted">8888 8888</span>
                <div>
                    <span class="small text-muted">Garita, Alajuela</span>
                </div>


                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-12 col-md-6" ">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Esteban J. Chamberlain</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                <div>
                    <span class="small text-muted">esteban@gmail.com</span>
                </div>
                <span class="small text-muted">8888 8888</span>
                <div>
                    <span class="small text-muted">San Pedro, Montes de Oca</span>
                </div>

                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>


</div>
